<!DOCTYPE html>
<html lang="en">

<head>
{{ include "../partials/head.html" }}
</head>

<body>
<span style="color: #FAFAD2; font-size: xx-large; font-style: bold;">robertvigil.github.io</span>
<!--<script src="scripts.js"></script>-->
<p>
This is a blog page..., this is a blog page... 
<br><br>
<a href="../">robertvigil.github.io</a>
</p>

</body>

</html>
